<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PCosmeticos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarServlet</display-name>
    <servlet-name>CadastrarServlet</servlet-name>
    <servlet-class>servlet.CadastrarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarServlet</servlet-name>
    <url-pattern>/CadastrarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarProdutoServlet</display-name>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <servlet-class>servlet.CadastrarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <url-pattern>/CadastrarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EdtProdutoServlet</display-name>
    <servlet-name>EdtProdutoServlet</servlet-name>
    <servlet-class>servlet.EdtProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdtProdutoServlet</servlet-name>
    <url-pattern>/EdtProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EdtProdutoServlet2</display-name>
    <servlet-name>EdtProdutoServlet2</servlet-name>
    <servlet-class>servlet.EdtProdutoServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdtProdutoServlet2</servlet-name>
    <url-pattern>/EdtProdutoServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProdutosServlet</display-name>
    <servlet-name>ListarProdutosServlet</servlet-name>
    <servlet-class>servlet.ListarProdutosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProdutosServlet</servlet-name>
    <url-pattern>/ListarProdutosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GerarPDFServlet</display-name>
    <servlet-name>GerarPDFServlet</servlet-name>
    <servlet-class>servlet.GerarPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerarPDFServlet</servlet-name>
    <url-pattern>/GerarPDFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarcasServlet</display-name>
    <servlet-name>MarcasServlet</servlet-name>
    <servlet-class>servlet.MarcasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarcasServlet</servlet-name>
    <url-pattern>/MarcasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarcasPreferidasServlet</display-name>
    <servlet-name>MarcasPreferidasServlet</servlet-name>
    <servlet-class>servlet.MarcasPreferidasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarcasPreferidasServlet</servlet-name>
    <url-pattern>/MarcasPreferidasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SairServlet</display-name>
    <servlet-name>SairServlet</servlet-name>
    <servlet-class>servlet.SairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SairServlet</servlet-name>
    <url-pattern>/SairServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetornarServlet</display-name>
    <servlet-name>RetornarServlet</servlet-name>
    <servlet-class>servlet.RetornarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetornarServlet</servlet-name>
    <url-pattern>/RetornarServlet</url-pattern>
  </servlet-mapping>
</web-app>